name: Notebooks checks

on:
  push:
    branches:
      - main
      - '*_rel'
  pull_request:
    branches: [ main ]
  workflow_dispatch:

defaults:
  run:
    # important to make sure that all commands on Windows are run using Bash
    # -l: login shell, needed when using Conda
    shell: bash -l {0}

jobs:

  nbcheck-static:
    name: Check .ipynb files in repo
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run nbcheck (static)
      uses: gmlc-dispatches/nbcheck@0.1.12
      with:
        setup-python: 'true'
        type: static

  nbcheck-execution:
    needs: [nbcheck-static]
    name: Execute notebooks (${{ matrix.os }}/py${{ matrix.python-version }})
    runs-on: ${{ matrix.os-version }}
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.7'
          # - '3.8'
          - '3.9'
        os:
          - linux
          - win64
        include:
          - os: linux
            os-version: ubuntu-20.04
          - os: win64
            os-version: windows-2019
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Python package and dependencies
      run: |
        _pip_install="pip install --progress-bar off"
        echo '::group::Output of "pip install" commands'
        $_pip_install --upgrade pip wheel setuptools
        $_pip_install -r requirements-dev.txt
        echo '::endgroup::'
        echo '::group::Display installed packages'
        conda list
        pip list
        pip show idaes-pse
        echo '::endgroup::'
        echo '::group::Output of "idaes get-extensions" command'
        idaes get-extensions --verbose
        echo '::endgroup::'
    - name: Run nbcheck (execution)
      uses: gmlc-dispatches/nbcheck@0.1.12
      with:
        setup-python: 'false'
        type: execution
        pytest-keywords: ipynb and not DoubleLoopOptimization.ipynb
    - name: Install alternate version of idaes-pse for RE DL notebook
      env:
        _pip_install_target: git+https://github.com/dguittet/idaes-pse@2.0.0.a4
      run: |
        pip install --progress-bar off "$_pip_install_target"
    - name: Run nbcheck (execution) for DoubleLoopOptimization.ipynb
      uses: gmlc-dispatches/nbcheck@0.1.12
      with:
        setup-python: 'false'
        type: execution
        pytest-keywords: DoubleLoopOptimization.ipynb
